.sidebar-content {
  background-color: #ede6bc;
  width: 20%;
  border-radius: 8px;
  float: right;
  margin-right: 5%;
}

.logopic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
